
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font: 17px  Helvetica,sans-serif;
    background: fixed border-box linear-gradient(135deg, #a46dff, #f6d1fd ) no-repeat center/100% 180vh;
}

canvas {
	padding: 10px;
}

section.intro {
    position: relative;
    /*background-color: white;*/
}

.intro h1 {
    font: 2em cursive, helvetica, times, serif;
    text-transform: uppercase;
    animation: h1 1.5s ease-in-out;
    margin: 0;
    padding-top: 30px;
}

.intro h2 {
    animation: prompt 0.5s 1.7s ease-in-out forwards;
    transform: translateY(-300px);
}

.intro img {
    display: block;
    margin: auto;

}

.intro p:last-child {
   margin-bottom: 100px;
}
.intro p{
    text-transform: capitalize;
    animation: player 1.5s 2.5s linear forwards;
    opacity: 0;
    pointer-events: none;

}

.difficulty {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

.difficulty h2{
    text-transform: capitalize;
    font-weight: normal;
    font-size: 1.7em;
    color: #545454;
}

.difficulty button {
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    margin: 10px;
    font-size: 1.2em;
    border-radius: 8px;
}

.message img {
    display: block;
    margin: auto;
    pointer-events: none;
    margin-top: -71px;
}

.message button {
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    color: #545454;
}

.message button:first-of-type {
    margin-top: 30px;
    margin-bottom: 25px;
}

.message {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: silver;
    width: 300px;
    height: 90vh;
    margin: auto;
    margin-top: 20px;
    color: #545454;
    padding: 15px;
    border-radius: 8px;
}

.message h2 {
    color: white;
    text-transform: capitalize;
    font-size: 1.5em;
}


.scorepanel {
    height: 120px
    width: 100%;
    max-height: 135px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: space-evenly;
    text-transform: capitalize;
}

.scorepanel button{
    transform: translateY(28px);
    width: 65px;
    height: 60px
    background-color: silver;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: normal;


}


.scorepanel img {
    width: 30px;
    height: 40px;
    margin: 0;
    padding: 0;
    pointer-events: none;

}

.hide {
    display: none;
}



@keyframes prompt {
    from{
        position: absolute;
        z-index: -200;        
        transform: translateY(-100px) ;
    }  
    25%{
        position: absolute;
        z-index: -200;
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(0);
    }
    62.5%{
        transform: translateY(-20px) ;
    }  
    75%{
 
        transform: translateY(0);
    }
    87.5% {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0px);
    }
    
}

@keyframes h1 {
    0% {

        transform: translateX(-50%);
    }

    25% {
        transform: translateX(-37.5%);
    }
    50% {
        transform: translateX(-25%);
    }
    75% {

        transform: translateX(-12.5%);
    }
    100% {
        transform: translateX(0);
    }
    
}

@keyframes player {
    from{
        pointer-events: none;
        opacity: 0;
    }  
    50%{
        pointer-events: all;
        opacity: 0.5;
    }
    to {
        pointer-events: all;
        opacity: 1;
    }
    
}


.bigwidth {
    width: calc((344/360)*(100vmin - 170px));
    height: calc(100vmin - 170px);
}

.smallwidth {
    width: calc(100vmin - 20px);
    height: calc((360/344)*(100vmin - 20px));
    max-height: 75vh;
    max-width: calc(100vh - 150px);
}

canvas{
    background-color: white;
}

